@import url('variables.less');
@import url('utils.less');
@done-glyph: ~'data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNOSAxNi4yTDQuOCAxMmwtMS40IDEuNEw5IDE5IDIxIDdsLTEuNC0xLjRMOSAxNi4yeiIvPjwvc3ZnPg==';
@prev-glyph: ~'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgZmlsbD0iI0ZGRkZGRiIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMjQiPjxwYXRoIGQ9Ik0gMTkuNDEsMjAuMDkgMTQuODMsMTUuNSAxOS40MSwxMC45MSAxOCw5LjUgbCAtNiw2IDYsNiB6IiAvPjwvc3ZnPg==';
@next-glyph: ~'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMjQiIGZpbGw9IiNGRkZGRkYiPjxwYXRoIGQ9Im0gMTIuNTksMjAuMzQgNC41OCwtNC41OSAtNC41OCwtNC41OSAxLjQxLC0xLjQxIDYsNiAtNiw2IHoiLz48L3N2Zz4=';
@hd-glyph: ~'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iOXB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMyA5IiB3aWR0aD0iMTNweCIgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik01LDcgTDYsNyBMNiw4IEw1LDggTDUsNyBaIE0xMCwzIEwxMCw0IEw4LDQgTDgsMyBMMTAsMyBaIE0zLDYgTDMsNSBMNSw1IEw1LDYgTDMsNiBaIE0yLDcgTDMsNyBMMyw4IEwyLDggTDIsNyBaIE03LDcgTDEwLDcgTDEwLDggTDcsOCBMNyw3IFogTTEwLDYgTDExLDYgTDExLDcgTDEwLDcgTDEwLDYgWiIgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIwLjY0NzEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz48cGF0aCBkPSJNNSw3IEw1LDYgTDUsNSBMMyw1IEwzLDYgTDMsNyBMMiw3IEwyLDIgTDMsMiBMMyw0IEw1LDQgTDUsMiBMNiwyIEw2LDcgTDUsNyBaIE0xMSw2IEwxMCw2IEwxMCw3IEw3LDcgTDcsMiBMMTAsMiBMMTAsMyBMMTEsMyBMMTEsNiBaIE0xMCw0IEwxMCwzIEw4LDMgTDgsNCBMOCw2IEwxMCw2IEwxMCw0IFoiLz4KPC9zdmc+';
@4k-glyph: ~'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iOXB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMyA5IiB3aWR0aD0iMTNweCIgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xMCw0IEwxMSw0IEwxMSw1IEwxMCw1IEwxMCw0IFogTTEwLDcgTDExLDcgTDExLDggTDEwLDggTDEwLDcgWiBNOCw1IEwxMCw1IEwxMCw2IEw4LDYgTDgsNSBaIE03LDcgTDgsNyBMOCw4IEw3LDggTDcsNyBaIE01LDYgTDYsNiBMNiw3IEw1LDcgTDUsNiBaIE00LDcgTDUsNyBMNSw4IEw0LDggTDQsNyBaIE0yLDYgTDQsNiBMNCw3IEwyLDcgTDIsNiBaIE0zLDQgTDQsNCBMNCw1IEwzLDUgTDMsNCBaIiBmaWxsPSIjMDAwIiBmaWxsLW9wYWNpdHk9IjAuNjQ3MSIgZmlsbC1ydWxlPSJldmVub2RkIiAvPjxwYXRoIGQ9Ik0xMSw1IEwxMSw3IEwxMCw3IEwxMCw2IEwxMCw1IEwxMSw1IFogTTEwLDUgTDgsNSBMOCw2IEw4LDcgTDcsNyBMNywyIEw4LDIgTDgsNCBMMTAsNCBMMTAsNSBaIE00LDQgTDMsNCBMMyw1IEw0LDUgTDQsNCBaIE00LDcgTDQsNiBMMiw2IEwyLDQgTDMsNCBMMywzIEw0LDMgTDQsMiBMNSwyIEw1LDUgTDYsNSBMNiw2IEw1LDYgTDUsNyBMNCw3IFogTTEwLDIgTDExLDIgTDExLDQgTDEwLDQgTDEwLDIgWiIvPgo8L3N2Zz4=';

.vjs5-hola-skin {
    .vjs-settings-button {
        order: 19;
        &>.vjs-button-icon {
            height: 100%;
            width: @control-width;
            padding: 0;
            opacity: 0.9;
            transition: opacity 200ms ease;
            &>svg {
                fill: #fff;
                transform-origin: 50% 50%;
                transition: transform 100ms ease;
            }
        }
        &[aria-expanded=true]>.vjs-button-icon>svg {
            transform: rotateZ(30deg)
        }
        &:hover>.vjs-button-icon {
            opacity: 1;
        }
        &.vjs-quality-hd .vjs-button-icon:after,
        &.vjs-quality-4k .vjs-button-icon:after {
            content: '';
            position: absolute;
            background-color: #f10;
            width: 1.3em;
            height: .9em;
            left: 1.8em;
            bottom: 1.8em;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &.vjs-quality-hd .vjs-button-icon:after {
            background-image: url(@hd-glyph);
        }
        &.vjs-quality-4k .vjs-button-icon:after {
            background-image: url(@4k-glyph);
        }
    }
    .vjs-menu.vjs-settings-menu,
    .vjs-menu.vjs-rightclick-popup {
        .background-color-with-alpha(@control-bg-color, @control-bg-alpha);
        white-space: nowrap;
        .vjs-menu-item {
            color: #eee;
            font-size: 1em;
            line-height: 3.3em;
            height: 3.3em;
            cursor: pointer;
            padding: 0 3.6em 0 1.5em;
            clear: both;
            &[role=menuitemcheckbox] {
                padding: 0 2.1em 0 3.6em;
            }
            &.vjs-selected:hover, &.vjs-selected:focus,
            &:hover, &:focus {
                color: #eee;
                .background-color-with-alpha(#ffffff, 0.1);
            }
            .vjs-menu-item-label, .vjs-menu-link {
                font-size: 1.3em;
                font-weight: 500;
            }
            .vjs-menu-item-content {
                font-size: 1.2em;
                float: right;
                margin-left: 3em;
                .vjs-minor-label {
                    padding-left: 0.2em;
                    color: @text-color-minor;
                    font-size: 0.92em;
                }
            }
        }
    }
    .vjs-menu.vjs-settings-menu {
        position: absolute;
        width: auto;
        right: 0.9em;
        bottom: 4.8em;
        z-index: 4;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        transition: opacity 100ms;
        will-change: width,height;
        &.vjs-size-transition {
            transition: height 200ms, width 200ms;
        }
        &.vjs-lock-showing {
            visibility: visible;
            opacity: 1;
        }
        &>.vjs-menu-content {
            width: auto;
            min-width: 9em;
            padding: 0.5em 0;
            transition: background 200ms ease;
            cursor: default;
        }
       ::-webkit-scrollbar {
            width: 1em;
            background-color: #4c4c4c;
        }
        ::-webkit-scrollbar-track {
            background-color: #4c4c4c;
        }
        ::-webkit-scrollbar-thumb {
            background-color: #8d8d8d;
            border: 1px solid #4c4c4c;
            border-radius: 0.5em;
        }
        &>.vjs-menu-content:not(.vjs-active-submenu) {
            position: fixed;
            top: 0;
            left: 0;
            visibility: hidden;
        }
        .vjs-main-submenu {
            min-width: 18em;
            .vjs-menu-item {
                &.vjs-quality-hd,
                &.vjs-quality-4k {
                    padding-right: 5.4em;
                }
            }
        }
        .vjs-captions-options-submenu {
            min-width: 28em;
        }
        .vjs-menu-item.vjs-menu-item-next {
            text-align: left;
            background: transparent no-repeat;
            background-position: right 0.9em center;
            background-size: 3.2em;
            background-image: url(@next-glyph);
            &:hover, &:focus {
                .background-color-with-alpha(#ffffff, 0.1);
            }
        }
        .vjs-main-submenu .vjs-menu-item.vjs-quality-4k .vjs-menu-item-content,
        .vjs-main-submenu .vjs-menu-item.vjs-quality-hd .vjs-menu-item-content,
        .vjs-quality-submenu .vjs-menu-item.vjs-quality-hd,
        .vjs-quality-submenu .vjs-menu-item.vjs-quality-4k {
            &:after {
                position: absolute;
                font-size: 0.9em;
                color: #f10;
                vertical-align: super;
                margin-left: 0.2em;
                margin-top: -0.5em;
            }
        }
        .vjs-main-submenu .vjs-menu-item {
            &.vjs-quality-4k .vjs-menu-item-content:after,
            &.vjs-quality-hd .vjs-menu-item-content:after {
                font-size: 0.75em;
                margin-left: 0.16em;
                margin-top: -0.41em;
            }
        }
        .vjs-main-submenu .vjs-menu-item.vjs-quality-hd .vjs-menu-item-content,
        .vjs-quality-submenu .vjs-menu-item.vjs-quality-hd {
            &:after {
                content: 'HD';
            }
        }
        .vjs-main-submenu .vjs-menu-item.vjs-quality-4k .vjs-menu-item-content,
        .vjs-quality-submenu .vjs-menu-item.vjs-quality-4k {
            &:after {
                content: '4K';
            }
        }
        .vjs-quality-submenu .vjs-menu-item {
            text-align: right;
        }
        .vjs-menu-item.vjs-submenu-title {
            line-height: 4.5em;
            height: 4.5em;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding: 0 2.1em 0 3.6em;
            margin-bottom: 0.2em;
            text-align: left;
            background: transparent no-repeat;
            background-position: left 0.3em center;
            background-size: 3.2em;
            background-image: url(@prev-glyph);
            .vjs-minor-label {
                font-size: 1.3em;
                margin-left: 1.3em;
                text-decoration: underline;
                display: inline-block;
                cursor: pointer;
            }
        }
    }
    &.vjs-settings-expanded {
        .vjs-progress-control:hover .vjs-mouse-display-tooltip,
        .vjs-thumbnail,
        .vjs-thumbnail-holder,
        .vjs-tooltip {
            display:none !important;
        }
    }
    &.vjs-live:not(.vjs-dvr) {
        .vjs-settings-menu {
            bottom: 3.9em;
        }
    }
    .vjs-info-overlay {
        .border-radius();
        .background-color-with-alpha(@control-bg-color, @control-bg-alpha);
        .box-shadow(0.2em 0.2em 0.3em rgba(0, 0, 0, 0.5));
    }
    .vjs-info-overlay {
        position: absolute;
        top: 1em;
        left: 1em;
        z-index: 3;
        display: inline-block;
        padding: 1em;
        font-size: 1.2em;
        &.vjs-notify-overlay {
            bottom: 50%;
            top: auto;
            z-index: 4;
            margin-bottom: -3em;
            left: 50%;
            margin-left: -8.5em;
            opacity: 1;
            &.vjs-notify-flash {
                transition: opacity 500ms ease;
                transition-delay: 2500ms;
                opacity: 0;
            }
        }
    }
    .vjs-info-overlay-title {
        margin-bottom: 1em;
        font-size: 1.2em;
    }
    .vjs-info-overlay-x {
        position: absolute;
        top: 1em;
        right: 1em;
        transition: color 200ms ease;
        cursor: pointer;
        &:hover {
            color: @text-color-main;
        }
        &:after {
            content: '\00274c';
        }
    }
    .vjs-notify-overlay-title {
        margin-bottom: 1em;
        font-size: 1.5em;
    }
    .vjs-notify-overlay-content {
        text-align: center;
    }

    .vjs-info-overlay-list {
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .vjs-info-overlay-list-item {
        padding: 0;
        margin: 0;
        height: 1.6em;
        line-height: 1.6em;
        strong {
            font-weight: 500;
            color: @text-color-main;
        }
        span {
            color: @text-color-minor;
        }
    }
    .vjs-rightclick-popup {
        position: absolute;
        z-index: 1113;
        width: auto;
        padding: 0.5em 0;
    }
    .vjs-menu .vjs-menu-item.vjs-selected {
        background: transparent no-repeat;
        background-position: 0.8em center;
        background-size: 1.5em;
        background-image: url(@done-glyph);
    }
    &.vjs-large,
    &.vjs-fullscreen:not(.vjs-small) {
        .vjs-info-overlay, .vjs-settings-menu, .vjs-rightclick-popup {
            font-size: 100% * @vjs-large-scale;
        }
    }
    .vjs-control-bar .vjs-control {
        &.vjs-captions-button,
        &.vjs-subtitles-button  {
            display: none;
        }
        &.vjs-captions-toggle {
            width: 3.6em;
            margin-right: 0.4em;
            order: 9;
            opacity: 0.9;
            font-family: 'VideoJS';
            cursor: pointer;
            &>.vjs-button-icon {
                height: 100%;
                width: 100%;
                &>svg {
                    fill: #fff;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0.6em;
                    left: 0;
                    right: 0;
                    height: 0.2em;
                    width : 0;
                    margin: 0 auto;
                    border-radius: 0.2em;
                    background-color: @active-color;
                    transition: width 250ms ease-in-out;
                }
            }
            &:hover,
            &.vjs-pressed {
                opacity: 1;
            }
            &.vjs-pressed>.vjs-button-icon:after {
                width: 2em;
            }
        }
    }
}
