@import url('variables.less');
@import url('utils.less');
@done-glyph: ~'data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNOSAxNi4yTDQuOCAxMmwtMS40IDEuNEw5IDE5IDIxIDdsLTEuNC0xLjRMOSAxNi4yeiIvPjwvc3ZnPg==';

@context-menu-scale: 1.1;

.vjs5-hola-skin {
    .vjs-rightclick-popup {
        color: @text-color-main;
        z-index: 2;
    }
    .vjs-settings-button {
        order: 6;
        &>.vjs-button-icon {
            @cog-width: @control-width - 1.3em;
            height: 100%;
            width: @cog-width;
            padding: 0 ((@control-width+(@control-padding*2))-@cog-width)/2;
            background: url(@cog-glyph) no-repeat;
            background-size: @cog-width;
            background-position: center center;
            opacity: 0.7;
            transform-origin: @cog-width * 1.088 @cog-width * 0.91;
            transition: opacity 200ms ease, transform 200ms ease;
        }
        &:hover>.vjs-button-icon {
            opacity: 1;
            transform: rotate(90deg);
        }
        .vjs-menu {
            width: 9em;
            left: -2.5em;
            z-index: 15;
            &>.vjs-menu-content {
                bottom: 2.75em;
                padding: 0.5em 0;
                transition: background 200ms ease;
                .background-color-with-alpha(@control-bg-color, @control-bg-alpha);
                cursor: default;
            }
        }
        .vjs-menu-item {
            padding: 0.3em 0 0.2em 2em;
            cursor: pointer;
        }
    }

    &.vjs-settings-expanded .vjs-progress-control:hover {
        .vjs-mouse-display-tooltip {
            display:none;
        }
    }

    .vjs-info-overlay,
    .vjs-rightclick-popup {
        .border-radius();
        .background-color-with-alpha(@control-bg-color, @control-bg-alpha);
        .box-shadow(0.2em 0.2em 0.3em rgba(0, 0, 0, 0.5));
    }
    .vjs-info-overlay {
        position: absolute;
        top: 1em;
        left: 1em;
        z-index: 3;
        display: inline-block;
        padding: 1em;
        font-size: 1.2em;
        &.vjs-notify-overlay {
            bottom: 50%;
            top: auto;
            z-index: 4;
            margin-bottom: -3em;
            left: 50%;
            margin-left: -8.5em;
            opacity: 1;
            &.vjs-notify-flash {
                transition: opacity 500ms ease;
                transition-delay: 2500ms;
                opacity: 0;
            }
        }
    }
    .vjs-info-overlay-title {
        margin-bottom: 1em;
        font-size: 1.2em;
    }
    .vjs-info-overlay-x {
        position: absolute;
        top: 1em;
        right: 1em;
        transition: color 200ms ease;
        cursor: pointer;
        &:hover {
            color: @text-color-main;
        }
    }
    .vjs-notify-overlay-title {
        margin-bottom: 1em;
        font-size: 1.5em;
    }
    .vjs-notify-overlay-content {
        text-align: center;
    }

    .vjs-info-overlay-list {
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .vjs-info-overlay-list-item {
        padding: 0;
        margin: 0;
        height: 1.6em;
        line-height: 1.6em?;
        strong {
            font-weight: 500;
            color: @text-color-main;
        }
        span {
            color: @text-color-minor;
        }
    }
    .vjs-rightclick-popup {
        position: absolute;
        z-index: 5;
        width: auto;
        padding: 1em 0;
        font-size: 100% * @context-menu-scale;
        .vjs-menu-item {
            cursor: pointer;
        }
        .vjs-menu-item,
        .vjs-menu-item>.vjs-menu-link {
            padding: 0.2em 1em;
        }
    }

    .vjs-menu-item.vjs-selected {
        color: #fff;
        background: transparent no-repeat;
        background-position: 0.5em center;
        background-size: 1em;
        background-image: url(@done-glyph);
        &:hover {
            //@control-bg-hover: #73859f;
            color: #fff;
            .background-color-with-alpha(#73859f, @control-bg-alpha);
        }
    }

    &.vjs-large,
    &.vjs-fullscreen {
        .vjs-info-overlay {
            font-size: 100% * @vjs-large-scale;
        }
        .vjs-rightclick-popup {
            font-size: (100% * @context-menu-scale) * @vjs-large-scale;
        }
        .vjs-settings-button>.vjs-button-icon {
            @cog-width: @control-width - 1.3em;
            transform-origin: @cog-width * 1.088 @cog-width * 0.892;
        }
    }
}
